body{
    text-align: center;
}
.outer{
    margin:auto;
    height:250px;
    width:300px;
    border:2px solid black;
    background-color: rgb(206, 203, 203);
    border-radius: 20px 0  20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.outer div{
    height:100px;
    width:100px;
    border:4px solid black;
    border-radius: 20px;

}
.red{
    background-color: red;
}
.green{
    background-color: green;
}

.orange{
    background-color: orange;
}
.blue{
    background-color: blue;
}
.flash{
    background-color: white;
}
.userflash{
    background-color: aqua;
}